<!--投稿部分テンプレート-->
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>投稿タイトル</th>
      <th>ニックネーム</th>
      <th>いいね</th>
      <th>コメント</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% posts.each do |post| %>
    <tr>
      <td class="align-middle"><%= post.created_at.strftime("%Y年%m月%d日 %H時") %></td>
      <td class="align-middle"><%= link_to post.title, post_path(post.id) %></td>
      <td class="align-middle"><%= post.user.nick_name %></td>
      <td class="align-middle"><%= post.favorites.count %></td>
      <td class="align-middle"><%= link_to "#{post.comments.count}", post_path(post.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="row flex justify-content-center">
  <%#= paginate posts, theme: 'twitter-bootstrap-4' %>
</div>