<!--管理者側ユーザー詳細画面-->
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-md-12">
      <h2>ユーザー詳細</h2>
      <div class="row">
        <div class="col-md-4">
          <div><%= image_tag @user.get_profile_image(250, 250), class: "w-75" %></div>
        </div>
        <div class="col-md-5">
          <table class="table">
            <tbody>
              <tr>
                <td>ニックネーム</td>
                <td><%= @user.nick_name %></td>
              </tr>
              <tr>
                <td>投稿数</td>
                <td><%= @user.posts.count %> 件</td>
              </tr>
              <tr>
                <td>コメント数</td>
              </tr>
              <tr>
                <td>
                  <% if @user.is_status == true %>
                    <%= link_to "強制退会", admin_user_path(@user.id), method: :patch, "data-confirm" => "このユーザーを退会させますか？", class: "btn btn-danger ml-4"%>
                  <% else %>
                    <%= link_to "有効化", active_admin_user_path(@user.id), method: :patch, "data-confirm" => "このユーザーを有効にしますか？", class: "btn btn-primary ml-4"%>
                  <% end %>
                </td>
                <td><button type="button" class="btn btn-primary">コメント一覧へ</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>