<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-md-12">
      <h2>ユーザー一覧</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td class="align-middle"><%= image_tag user.get_profile_image(100, 100) %></td>
            <td class="align-middle"><%= link_to user.nick_name, admin_user_path(user) %></td>
            <td class="align-middle"><%= "投稿数#{user.posts.count} 件" %></td>
            <td class="align-middle"><%= "コメント #{user.comments.count} 件" %></td>
            <td class="align-middle"><%= user.is_status ? '有効' : '退会' %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>