<!--ユーザー一覧画面-->
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-12">
      <h2>ユーザー一覧</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="align-middle">
              <%= link_to user_path(user) do %>
                <%= image_tag user.get_profile_image(100, 100) %>
              <% end %>
            </td>
            <td class="align-middle"><%= link_to user.nick_name, user_path(user) %></td>
            <td class="align-middle">投稿数 <%= link_to "#{user.posts.count}", user_path(user) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="row flex justify-content-center">
        <%= paginate @users, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  </div>
</div>